<nav class="navbar bg-light navbar-light navbar-expand-lg">
    <a class="navbar-brand" href="/">Logo</a>
    <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
    </div>
    <div class="navbar-nav">
        <a class="nav-link" href="/recipes">Recipies</a>
    </div>
    <div class="navbar-nav">
        <a class="nav-link" href="/findRecipe">Find Recipe</a>
    </div>
    <div class="navbar-nav">
        <a class="nav-link" href="/addRecipe">Add Recipe</a>
    </div>
    <div class="navbar-nav">
        <a class="nav-link" href="/allIngredients">Ingredients</a>
    </div>
    <div class="navbar-nav">
        <a class="nav-link" href="/findIngredient">Find Ingredient</a>
    </div>
    <div class="navbar-nav">
        <a class="nav-link" href="/addIngredient">Add Ingredients</a>
    </div>

</nav>