<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Book - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/nav"></div>

<div class="container">
    <h1>New Recipe</h1>
    <form action="#" th:action="@{/addRecipe}" th:object="${recipeBean}" method="post">
        <p>Recipe name: <input type="text" th:field="*{name}" /></p>
        <p>Ingredients: <textarea type="text" th:field="*{ingredients}"></textarea></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>

</body>
</html>