<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Recipe Book - Home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
  <div th:insert="fragments/nav"></div>

  <table>
    <tr th:each="ingr : ${ingredients}">
      <td th:text="${ingr.id}"></td>
      <td th:text="${ingr.name}"></td>
      <td th:text="${ingr.modifier}"></td>
      <td th:text="${ingr.quantity}"></td>
      <td th:text="${ingr.measure}"></td>
    </tr>
  </table>

</body>
</html>